<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Weekly Schedule</title>
</head>
<body>
    <div class="container">
        {% for key, value in cron_data.items() %}
            <div class="row">
                <div class="cell">{{ key }}</div>
                <div class="cell button disabled {{ 'selected' if cron_data[key]['selected_option'] == config['DISABLED'] else '' }}" 
                onclick="selectOption(this)">{{ config['DISABLED'] }}</div>
                <div class="cell button option1 {{ 'selected' if cron_data[key]['selected_option'] == config['SCHEDULE_1'] else '' }}"
                onclick="selectOption(this)">{{ config['SCHEDULE_1'] }}</div>
                <div class="cell button option2 {{ 'selected' if cron_data[key]['selected_option'] == config['SCHEDULE_2'] else '' }}"
                onclick="selectOption(this)">{{ config['SCHEDULE_2'] }}</div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
