<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>{{ config['SITE_DESCRIPTION'] }}</title>
</head>
<body>
    <div class="container">
        {% for key, value in cron_data.items() %}
            <div class="row">
                <div class="cell title">{{ key }}</div>
                <div class="cell button disabled {{ 'selected' if cron_data[key]['selected_option'] == config['DISABLED'] else '' }}" 
                onclick="selectOption(this, '{{ key }}', 'disable')">{{ config['DISABLED'] }}</div>
                <div class="cell button option1 {{ 'selected' if cron_data[key]['selected_option'] == config['SCHEDULE_1'] else '' }}"
                onclick="selectOption(this, '{{ key }}', '{{ config['SCHEDULE_1'] }}')">{{ config['SCHEDULE_1'] }}</div>
                <div class="cell button option2 {{ 'selected' if cron_data[key]['selected_option'] == config['SCHEDULE_2'] else '' }}"
                onclick="selectOption(this, '{{ key }}', '{{ config['SCHEDULE_2'] }}')">{{ config['SCHEDULE_2'] }}</div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="cell title">Info</div>
            <div class="cell"></div>
            <div class="cell">{{ config['SCHEDULE_DESCRIPTION'] }} {{ config['SCHEDULE_1_HOUR'] }}:{{ config['SCHEDULE_1_MINUTE'] }}</div>
            <div class="cell">{{ config['SCHEDULE_DESCRIPTION'] }} {{ config['SCHEDULE_2_HOUR'] }}:{{ config['SCHEDULE_2_MINUTE'] }}</div>
        </div>
    </div>
</body>
</html>
