<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Weekly Schedule</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="cell">{{ items[0][0] }}</div>
            <div class="cell button disabled" onclick="selectOption(this)">{{ config['DISABLED'] }}</div>
            <div class="cell button option1" onclick="selectOption(this)">{{ config['SCHEDULE_1'] }}</div>
            <div class="cell button option2" onclick="selectOption(this)">{{ config['SCHEDULE_2'] }}</div>
        </div>
        <div class="row">
            <div class="cell">{{ items[1][0] }}</div>
            <div class="cell button disabled" onclick="selectOption(this)">{{ config['DISABLED'] }}</div>
            <div class="cell button option1" onclick="selectOption(this)">{{ config['SCHEDULE_1'] }}</div>
            <div class="cell button option2" onclick="selectOption(this)">{{ config['SCHEDULE_2'] }}</div>
        </div>
        <div class="row">
            <div class="cell">{{ items[2][0] }}</div>
            <div class="cell button disabled" onclick="selectOption(this)">{{ config['DISABLED'] }}</div>
            <div class="cell button option1" onclick="selectOption(this)">{{ config['SCHEDULE_1'] }}</div>
            <div class="cell button option2" onclick="selectOption(this)">{{ config['SCHEDULE_2'] }}</div>
        </div>
        <div class="row">
            <div class="cell">{{ items[3][0] }}</div>
            <div class="cell button disabled" onclick="selectOption(this)">{{ config['DISABLED'] }}</div>
            <div class="cell button option1" onclick="selectOption(this)">{{ config['SCHEDULE_1'] }}</div>
            <div class="cell button option2" onclick="selectOption(this)">{{ config['SCHEDULE_2'] }}</div>
        </div>
        <div class="row">
            <div class="cell">{{ items[4][0] }}</div>
            <div class="cell button disabled" onclick="selectOption(this)">{{ config['DISABLED'] }}</div>
            <div class="cell button option1" onclick="selectOption(this)">{{ config['SCHEDULE_1'] }}</div>
            <div class="cell button option2" onclick="selectOption(this)">{{ config['SCHEDULE_2'] }}</div>
        </div>
        <div class="row">
            <div class="cell">{{ items[5][0] }}</div>
            <div class="cell button disabled" onclick="selectOption(this)">{{ config['DISABLED'] }}</div>
            <div class="cell button option1" onclick="selectOption(this)">{{ config['SCHEDULE_1'] }}</div>
            <div class="cell button option2" onclick="selectOption(this)">{{ config['SCHEDULE_2'] }}</div>
        </div>
        <div class="row">
            <div class="cell">{{ items[6][0] }}</div>
            <div class="cell button disabled" onclick="selectOption(this)">{{ config['DISABLED'] }}</div>
            <div class="cell button option1" onclick="selectOption(this)">{{ config['SCHEDULE_1'] }}</div>
            <div class="cell button option2" onclick="selectOption(this)">{{ config['SCHEDULE_2'] }}</div>
        </div>
    </div>
</body>
</html>
